body{

    border: 10px ridge hsl(0, 0%, 100%);
    background-image: url(../Imagenes/Tri.jpg);
    
}


h1{
    color: white;
    text-align: left, justify;
    
}

P{
    color: white;
    text-align: left, justify;
    
}
h2{
    color: white;
    text-align: left;
}
li{
    color: white;
    text-align: left;
}

